---
layout: default
title: Paul's Blog
permalink: /blog
---
<div class="blog-main">
  <h1 class="text-center">My Journey As A Developer</h1>
  <p>In order to keep myself accountable, I've decided to include a blog section on my website. This will provide myself, as well as others some insight into the path I've taken and hopefully act as a resource to newer developers who are looking to take the same path. The posts contained within are about my own struggles as I learn, things that have helped me along the way and also just random thoughts about my journey into the (for me) unknown.</p>

  <div class="container posts">
    <h1 class="text-center">Posts</h1>
    <ul class="blog-list">

        {% for post in site.blog %}
        <h2>{{post.title}}</h2>
        {{post.content | markdownify}}
        {% endfor %}

      {% for post in site.categories.blog %}
        <li class="well well-lg">
          <span class="post-title"><a href="{{post.url}}">{{post.title}}</span>
          {{ post.excerpt | remove: '<div class="blog-post">' }}
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
