<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-links">
        <ul>
          <li><a href="index.html">Profile</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="learn.html">Learn</a></li>   
          <li><a href="gallery.html">Art Gallery</a></li>                        
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6 bottom-social">
        <div class="container">
          <!-- fix facebook link -->
          <a  class="social-icon" href="https://www.facebook.com/paul.mcaviney.18" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a class="social-icon" href="https://github.com/my-Name-Is-Paul" target="_blank"><i class="fa fa-github-square" aria-hidden="true">
          </i></a>
          <a class="social-icon" href="https://www.linkedin.com/in/paul-mcaviney-684a9412b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a class="social-icon" href="https://www.instagram.com/bigphatpaulie/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>"
    </div>
  </div>
</div>

<!-- jQuery -->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<!-- My Javascript File -->


</body>
</html>
